<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="text-center mt-4 nameSignup">
           Create New Account
        </div>
        <form action="logup" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="name" id="fullName" placeholder="Full Name" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input  name="mobile" id="phoneNumber" placeholder="Phone Number" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="email" id="userName" placeholder="Email-Id / Username" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password" required>
            </div>

            <button type="submit" class="btn mt-3">SignUp</button>
        </form>
        <div class="text-center fs-5">
           If already a user <a href="/">Sign In</a>
        </div>
    </div>
</body>
</html>